.primary-pink-button-container {
  display: flex;
  position: relative;
  background-color: #D9D9D9;
}
.primary-pink-button-button {
  color: #ffffff;
  outline: none;
  background:  linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
  background-color: transparent;
}
.primary-pink-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.primary-pink-button-root-class-name {
  top: 0px;
  left: 0px;
  position: static;
  align-self: flex-start;
  margin-bottom: 10px;
  background-color: transparent;
}
.primary-pink-button-root-class-name1 {
  background-color: transparent;
}
@media(max-width: 479px) {
  .primary-pink-button-root-class-name1 {
    background-color: transparent;
  }
}

.header-header {
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  bottom: auto;
  display: flex;
  z-index: 3;
  position: fixed;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.header-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: var(--dl-radius-radius-radius40);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: space-between;
  background-color: hsla(0,0%,100%,.8)!important;
}
.header-container {
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink {
  display: contents;
}
.header-image {
  width: 193px;
  height: 46px;
  align-self: flex-start;
  object-fit: cover;
  text-decoration: none;
}
.header-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.header-navlink1 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink1:hover {
  color: var(--dl-color-gray-500);
}
.header-link {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-link:hover {
  color: var(--dl-color-gray-500);
}
.header-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-container2 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-link1 {
  display: contents;
}
.header-component {
  text-decoration: none;
}
.header-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.header-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-unitandahalfunit);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.header-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink2 {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  text-decoration: none;
}
.header-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-icon2 {
  width: 24px;
  height: 24px;
}
.header-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.header-menu1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.header-navlink3 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink3:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink4 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink4:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink5 {
  transition: 0.3s;
  text-decoration: none;
}
.header-navlink5:hover {
  color: var(--dl-color-gray-500);
}
.header-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  flex-direction: column;
}
@media(max-width: 991px) {
  .header-nav {
    max-width: 960px;
  }
  .header-menu {
    display: none;
  }
}
@media(max-width: 767px) {
  .header-burger-menu {
    display: flex;
  }
}
@media(max-width: 479px) {
  .header-container2 {
    display: none;
  }
}

.outline-gray-button-container {
  display: flex;
  position: relative;
}
.outline-gray-button-button {
  color: #ffffff;
  outlinr: none;
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-color: var(--dl-color-secondary-200);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
  background-color: #12ec76;
}
.outline-gray-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

@media(max-width: 479px) {
  .outline-gray-button-root-class-name {
    background-color: transparent;
  }
}

.feature-card-container {
  flex: 0 0 auto;
  width: 25%;
  margin: 5px;
  display: flex;
  padding: 10px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: #f12525;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
}
.feature-card-image {
  height: 60px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.feature-card-text {
  color: var(--dl-color-secondary-600);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.feature-card-text1 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card-root-class-name {
  width: 22%;
  height: auto;
}
.feature-card-root-class-name1 {
  width: 22%;
  height: auto;
}
.feature-card-root-class-name2 {
  width: 22%;
}
.feature-card-root-class-name3 {
  width: 22%;
  height: auto;
}
@media(max-width: 767px) {
  .feature-card-container {
    width: 50%;
  }
}
@media(max-width: 479px) {
  .feature-card-container {
    width: 100%;
  }
}

.footer-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgb(0, 0, 0) 0.00%,rgba(215, 12, 12, 0.92) 20.00%);
}
.footer-container {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  position: relative;
  max-width: 1320px;
  justify-content: space-between;
  background-color: #de1f1f;
}
.footer-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-link {
  display: contents;
}
.footer-image {
  width: auto;
  height: 80px;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.footer-social-bar {
  width: 100%;
  display: flex;
  padding: 48px;
  justify-content: center;
}
.footer-link1 {
  display: contents;
}
.footer-icon {
  fill: #ffffff;
  width: 64px;
  height: 64px;
  margin-right: 32px;
  text-decoration: none;
}
.footer-link2 {
  display: contents;
}
.footer-icon02 {
  fill: #D9D9D9;
  width: 64px;
  height: 64px;
  margin-right: 32px;
  text-decoration: none;
}
.footer-link3 {
  display: contents;
}
.footer-icon04 {
  fill: #ffffff;
  width: 64px;
  height: 64px;
  margin-right: 32px;
  text-decoration: none;
}
.footer-link4 {
  display: contents;
}
.footer-icon06 {
  fill: #ffffff;
  width: 64px;
  height: 64px;
  margin-right: 32px;
  text-decoration: none;
}
.footer-link5 {
  display: contents;
}
.footer-icon08 {
  fill: #ffffff;
  width: 64px;
  height: 64px;
  text-decoration: none;
}
.footer-container2 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text01 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text01:hover {
  color: var(--dl-color-gray-white);
}
.footer-text02 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text02:hover {
  color: var(--dl-color-gray-white);
}
.footer-text03 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text03:hover {
  color: var(--dl-color-gray-white);
}
.footer-text04 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text04:hover {
  color: var(--dl-color-gray-white);
}
.footer-text05 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text05:hover {
  color: var(--dl-color-gray-white);
}
.footer-text06 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text06:hover {
  color: var(--dl-color-gray-white);
}
.footer-text07 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text07:hover {
  color: var(--dl-color-gray-white);
}
.footer-text08 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text08:hover {
  color: var(--dl-color-gray-white);
}
.footer-text09 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text09:hover {
  color: var(--dl-color-gray-white);
}
.footer-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.footer-text10 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text11 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text11:hover {
  color: var(--dl-color-gray-white);
}
.footer-text12 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text12:hover {
  color: var(--dl-color-gray-white);
}
.footer-text13 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text13:hover {
  color: var(--dl-color-gray-white);
}
.footer-text14 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text14:hover {
  color: var(--dl-color-gray-white);
}
.footer-text15 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text15:hover {
  color: var(--dl-color-gray-white);
}
.footer-text16 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text16:hover {
  color: var(--dl-color-gray-white);
}
.footer-text17 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text17:hover {
  color: var(--dl-color-gray-white);
}
.footer-text18 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text18:hover {
  color: var(--dl-color-gray-white);
}
.footer-text19 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text19:hover {
  color: var(--dl-color-gray-white);
}
.footer-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-link6 {
  color: #b2b4b9;
  text-align: center;
  text-decoration: none;
}
.footer-link7 {
  color: #b2b4b9;
  text-align: center;
  text-decoration: none;
}

@media(max-width: 991px) {
  .footer-container {
    padding: var(--dl-space-space-doubleunit);
  }
  .footer-root-class-name {
    background-image: linear-gradient(0deg, rgba(17, 2, 2, 0.97) 0.00%,rgb(221, 8, 8) 25.00%);
  }
}
@media(max-width: 767px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-container1 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .footer-social-bar {
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer-container4 {
    margin-left: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 479px) {
  .footer-social-bar {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  display: flex;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.home-container01 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1320px;
  min-height: 85vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-card {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0,0%,100%,.8);
}
.home-text {
  text-align: center;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text01 {
  color: var(--dl-color-secondary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.home-text02 {
  color: var(--dl-color-secondary-600);
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
}
.home-container02 {
  display: flex;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container03 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-link {
  display: contents;
}
.home-component1 {
  text-decoration: none;
}
.home-link1 {
  display: contents;
}
.home-component2 {
  text-decoration: none;
}
.home-image {
  width: 33%;
  margin-top: -50px;
  object-fit: cover;
  margin-bottom: -50px;
}
.home-image01 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 66%;
  bottom: 0px;
  height: auto;
  position: absolute;
  object-fit: cover;
  object-position: right;
  border-bottom-left-radius: 10rem;
}
.home-features {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-self: stretch;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.home-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.home-container05 {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
.home-text04 {
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text05 {
  color: rgb(203, 12, 159);
  white-space: normal;
  text-decoration: none;
}
.home-text06 {
  max-width: 600px;
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text07 {
  color: rgb(103, 116, 142);
  display: inline;
  font-weight: 400;
  white-space: normal;
  background-color: rgb(255, 255, 255);
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unitandahalfunit);
  margin-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
}
.home-container07 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-image02 {
  width: 100%;
  margin-top: 0rem;
  object-fit: cover;
  margin-left: 10rem;
  margin-right: -20rem;
  margin-bottom: -20rem;
}
.home-text08 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-end;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
  border-color: #db3236;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25rem;
  margin-bottom: 8rem;
  flex-direction: column;
}
.home-text09 {
  color: #db3236;
  display: inline;
  font-weight: 400;
  white-space: normal;
  background-color: rgb(255, 255, 255);
}
.home-text11 {
  color: #db3236;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
}
.home-container08 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-image03 {
  top: 0px;
  left: auto;
  width: 90%;
  bottom: auto;
  display: block;
  position: absolute;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: -1.5rem;
  object-fit: cover;
  margin-left: 2rem;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-container09 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: var(--dl-space-space-triplequarterunit);
  padding-right: var(--dl-space-space-triplequarterunit);
  flex-direction: column;
}
.home-image04 {
  width: 100%;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: 8rem;
  object-fit: cover;
  margin-left: -1.5rem;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-container10 {
  width: 90%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-text12 {
  color: #db3236;
}
.home-text13 {
  color: #db3236;
  font-weight: 700;
  white-space: normal;
  background-color: rgb(255, 255, 255);
}
.home-testimonials {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
}
.home-image05 {
  top: auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-contaier {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1320px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.home-container11 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container12 {
  width: 189px;
  height: 125px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius75);
  flex-direction: column;
  justify-content: center;
}
.home-image06 {
  width: auto;
  object-fit: cover;
}
.home-text16 {
  color: #e20718;
  margin-top: var(--dl-space-space-unitandahalfunit);
  background-color: #f90303;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text17 {
  white-space: normal;
  text-decoration: none;
}
.home-image07 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.home-container14 {
  flex: 0 0 auto;
  width: 30%;
  margin: 10px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  justify-content: center;
}
.home-image08 {
  width: 66%;
  object-fit: cover;
}
.home-text18 {
  text-align: center;
}
.home-text19 {
  padding: 10px;
  text-align: justify;
}
.home-text20 {
  text-align: justify;
}
.home-container15 {
  flex: 0 0 auto;
  width: 30%;
  margin: 10px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  justify-content: center;
}
.home-image09 {
  width: 66%;
  object-fit: cover;
}
.home-text21 {
  text-align: center;
}
.home-text22 {
  padding: 10px;
  text-align: justify;
}
.home-text23 {
  text-align: justify;
}
.home-container16 {
  flex: 0 0 auto;
  width: 30%;
  margin: 10px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  justify-content: center;
}
.home-image10 {
  width: 66%;
  object-fit: cover;
}
.home-text24 {
  text-align: center;
}
.home-text28 {
  padding: 10px;
  text-align: justify;
}
.home-text29 {
  text-align: justify;
}
.home-divider {
  flex: 0 0 auto;
  width: 90%;
  height: 1px;
  display: flex;
  opacity: 0.25;
  margin-top: 4rem;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: 4rem;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home-container17 {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  box-shadow: 5px 5px 10px 1px #818080;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius40);
  justify-content: flex-start;
}
.home-container18 {
  flex: 0 0 auto;
  width: 50%;
  height: 480px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text30 {
  color: #db3236;
  width: 100%;
  font-size: 3rem;
  font-style: normal;
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.home-ul {
  position: relative;
  list-style-type: disc;
  list-style-image: url("/playground_assets/63-settings-cog-solid-1500w.gif");
  list-style-position: inside;
}
.home-li {
  position: relative;
  font-size: 2rem;
  text-align: left;
  font-family: Source Sans Pro;
  list-style-type: none;
  list-style-image: url("/playground_assets/63-settings-cog-solid-1500w.gif");
  list-style-position: inside;
}
.home-text31 {
  top: 0px;
  left: 77px;
  color: #000000;
  position: absolute;
  font-size: 2rem;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
}
.home-li01 {
  position: relative;
  font-size: 2rem;
  text-align: left;
  font-family: Source Sans Pro;
  list-style-type: none;
  list-style-image: url("/playground_assets/22-build-outline64-1200w.gif");
  list-style-position: inside;
}
.home-text32 {
  top: 0px;
  left: 77px;
  color: #000000;
  position: absolute;
  font-size: 2rem;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: 1;
}
.home-li02 {
  position: relative;
  font-size: 2rem;
  text-align: left;
  font-family: Source Sans Pro;
  list-style-type: none;
  list-style-image: url("/playground_assets/10-analytics-solid-1200w.gif");
  list-style-position: inside;
}
.home-text33 {
  top: 0px;
  left: 77px;
  color: #000000;
  position: absolute;
  font-size: 2rem;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: 1;
}
.home-li03 {
  position: relative;
  font-size: 2rem;
  text-align: left;
  font-family: Source Sans Pro;
  list-style-type: none;
  list-style-image: url("/playground_assets/33-speed-outline-1200w.gif");
  list-style-position: inside;
}
.home-text34 {
  top: 0px;
  left: 77px;
  color: #000000;
  position: absolute;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: 1;
}
.home-image11 {
  width: 50%;
  padding: 20px;
  object-fit: cover;
}
.home-divider1 {
  flex: 0 0 auto;
  width: 90%;
  height: 1px;
  display: flex;
  opacity: 0.25;
  margin-top: 4rem;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: 4rem;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home-container19 {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  box-shadow: 5px 5px 10px 1px #818080;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius40);
  justify-content: flex-start;
}
.home-container20 {
  flex: 0 0 auto;
  width: 50%;
  height: 480px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text35 {
  color: #db3236;
  width: 100%;
  font-size: 3rem;
  font-style: normal;
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.home-ul1 {
  position: relative;
  list-style-type: disc;
  list-style-image: url("/playground_assets/63-settings-cog-solid-1500w.gif");
  list-style-position: inside;
}
.home-li04 {
  position: relative;
  font-size: 2rem;
  text-align: left;
  font-family: Source Sans Pro;
  line-height: 1;
  list-style-type: none;
  list-style-image: url("/playground_assets/32-videocam-outline-1200w.gif");
  list-style-position: inside;
}
.home-text36 {
  top: 0px;
  left: 77px;
  color: #000000;
  position: absolute;
  font-size: 2rem;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.home-li05 {
  position: relative;
  font-size: 2rem;
  text-align: left;
  font-family: Source Sans Pro;
  list-style-type: none;
  list-style-image: url("/playground_assets/34-code-solid-1200w.gif");
  list-style-position: inside;
}
.home-text37 {
  top: 0px;
  left: 77px;
  color: #000000;
  position: absolute;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: 1;
}
.home-li06 {
  position: relative;
  font-size: 2rem;
  text-align: left;
  font-family: Source Sans Pro;
  list-style-type: none;
  list-style-image: url("/playground_assets/14-article-solid-1200w.gif");
  list-style-position: inside;
}
.home-text38 {
  top: 0px;
  left: 77px;
  color: #000000;
  position: absolute;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: 1;
}
.home-li07 {
  position: relative;
  font-size: 2rem;
  text-align: left;
  font-family: Source Sans Pro;
  list-style-type: none;
  list-style-image: url("/playground_assets/58-call-phone-solid-1500w.gif");
  list-style-position: inside;
}
.home-text39 {
  top: 0px;
  left: 77px;
  color: #000000;
  position: absolute;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: 1;
}
.home-image12 {
  width: 50%;
  padding: 20px;
  object-fit: cover;
}
.home-divider2 {
  flex: 0 0 auto;
  width: 90%;
  height: 1px;
  display: flex;
  opacity: 0.25;
  margin-top: 4rem;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: 4rem;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home-container21 {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  box-shadow: 5px 5px 10px 1px #818080;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius40);
  justify-content: flex-start;
}
.home-container22 {
  flex: 0 0 auto;
  width: 50%;
  height: 480px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text40 {
  color: #db3236;
  width: 100%;
  font-size: 3rem;
  font-style: normal;
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.home-ul2 {
  position: relative;
  list-style-type: disc;
  list-style-image: url("/playground_assets/63-settings-cog-solid-1500w.gif");
  list-style-position: inside;
}
.home-li08 {
  position: relative;
  font-size: 2rem;
  text-align: left;
  font-family: Source Sans Pro;
  list-style-type: none;
  list-style-image: url("/playground_assets/63-settings-cog-solid-1500w.gif");
  list-style-position: inside;
}
.home-text41 {
  top: 0px;
  left: 77px;
  color: #000000;
  bottom: 0px;
  margin: auto;
  position: absolute;
  font-size: 2rem;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
}
.home-li09 {
  position: relative;
  font-size: 2rem;
  text-align: left;
  font-family: Source Sans Pro;
  list-style-type: none;
  list-style-image: url("/playground_assets/22-build-outline64-1200w.gif");
  list-style-position: inside;
}
.home-text42 {
  top: 0px;
  left: 77px;
  color: #000000;
  position: absolute;
  font-size: 2rem;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: 1;
}
.home-li10 {
  position: relative;
  font-size: 2rem;
  text-align: left;
  font-family: Source Sans Pro;
  list-style-type: none;
  list-style-image: url("/playground_assets/10-analytics-solid-1200w.gif");
  list-style-position: inside;
}
.home-text43 {
  top: 0px;
  left: 77px;
  color: #000000;
  bottom: 0px;
  margin: auto;
  position: absolute;
  font-size: 2rem;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: 1;
}
.home-li11 {
  position: relative;
  font-size: 2rem;
  text-align: left;
  font-family: Source Sans Pro;
  list-style-type: none;
  list-style-image: url("/playground_assets/33-speed-outline-1200w.gif");
  list-style-position: inside;
}
.home-text44 {
  top: 0px;
  left: 77px;
  color: #000000;
  bottom: 0px;
  margin: auto;
  position: absolute;
  font-size: 2rem;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: 1;
}
.home-image13 {
  width: 50%;
  padding: 20px;
  object-fit: cover;
}
.home-divider3 {
  flex: 0 0 auto;
  width: 90%;
  height: 1px;
  display: flex;
  opacity: 0.25;
  margin-top: 4rem;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: 4rem;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home-container23 {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  box-shadow: 5px 5px 10px 1px #818080;
  align-items: stretch;
  border-radius: var(--dl-radius-radius-radius40);
  flex-direction: row;
  justify-content: flex-start;
}
.home-container24 {
  flex: 0 0 auto;
  width: 50%;
  height: 480px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text45 {
  color: #db3236;
  width: 100%;
  font-size: 3rem;
  font-style: normal;
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.home-ul3 {
  position: relative;
  list-style-type: disc;
  list-style-image: url("/playground_assets/63-settings-cog-solid-1500w.gif");
  list-style-position: inside;
}
.home-li12 {
  position: relative;
  font-size: 2rem;
  text-align: left;
  font-family: Source Sans Pro;
  list-style-type: none;
  list-style-image: url("/playground_assets/41-home-outline-1200w.gif");
  list-style-position: inside;
}
.home-text46 {
  top: 0px;
  left: 77px;
  color: #000000;
  position: absolute;
  font-size: 2rem;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
}
.home-li13 {
  position: relative;
  font-size: 2rem;
  text-align: left;
  font-family: Source Sans Pro;
  list-style-type: none;
  list-style-image: url("/playground_assets/63-settings-cog-solid-1500w.gif");
  list-style-position: inside;
}
.home-text47 {
  top: 0px;
  left: 77px;
  color: #000000;
  position: absolute;
  font-size: 2rem;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: 1;
}
.home-li14 {
  position: relative;
  font-size: 2rem;
  text-align: left;
  font-family: Source Sans Pro;
  list-style-type: none;
  list-style-image: url("/playground_assets/14-article-solid-1200w.gif");
  list-style-position: inside;
}
.home-text48 {
  top: 0px;
  left: 77px;
  color: #000000;
  position: absolute;
  font-size: 2rem;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: 1;
}
.home-li15 {
  position: relative;
  font-size: 2rem;
  text-align: left;
  font-family: Source Sans Pro;
  list-style-type: none;
  list-style-image: url("/playground_assets/33-speed-outline-1200w.gif");
  list-style-position: inside;
}
.home-text49 {
  top: 0px;
  left: 77px;
  color: #000000;
  position: absolute;
  font-size: 2rem;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: 1;
}
.home-image14 {
  width: 50%;
  padding: 20px;
  object-fit: cover;
}
.home-image15 {
  width: 33%;
  margin-top: 20px;
  object-fit: cover;
  margin-bottom: -100px;
}
.home-link2 {
  color: #d4d4d4;
  width: 313px;
  height: 88px;
  box-shadow: 5px 5px 10px 5px #d4d4d4;
  text-align: center;
  border-color: #d02b2b;
  border-radius: 33px;
  text-decoration: none;
  background-color: #d02b2b;
}
.home-text50 {
  color: #ffffff;
  font-size: 3rem;
  font-style: normal;
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 300;
}
.home-text52 {
  background-color: #b12828;
}
.home-image16 {
  width: 100px;
  object-fit: cover;
}
.home-image17 {
  width: 100px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .home-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .home-container01 {
    max-width: 960px;
  }
  .home-card {
    width: 100%;
  }
  .home-features {
    max-width: 100%;
    justify-content: space-between;
  }
  .home-container04 {
    max-width: 960px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container05 {
    max-width: 80%;
  }
  .home-text06 {
    text-align: center;
  }
  .home-text08 {
    width: 50%;
  }
  .home-text12 {
    text-align: center;
  }
  .home-contaier {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container19 {
    height: auto;
    padding-bottom: 48px;
  }
}
@media(max-width: 767px) {
  .home-card {
    align-items: center;
  }
  .home-text02 {
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
  }
  .home-image01 {
    display: none;
  }
  .home-features {
    max-width: 720px;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container04 {
    max-width: 720px;
  }
  .home-container06 {
    align-items: center;
    flex-direction: column;
  }
  .home-container07 {
    width: 80%;
  }
  .home-image02 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: -10rem;
  }
  .home-text08 {
    width: 70%;
    align-self: center;
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-image03 {
    display: none;
  }
  .home-container09 {
    width: 80%;
  }
  .home-image04 {
    display: none;
  }
  .home-text12 {
    text-align: center;
  }
  .home-container11 {
    width: 80%;
  }
  .home-text16 {
    text-align: center;
  }
  .home-container14 {
    margin: 10px;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-radius: var(--dl-radius-radius-radius1);
  }
  .home-text18 {
    text-align: center;
  }
  .home-text19 {
    text-align: center;
  }
  .home-container15 {
    padding: 10px;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-radius: var(--dl-radius-radius-radius1);
  }
  .home-text21 {
    text-align: center;
  }
  .home-text22 {
    text-align: center;
  }
  .home-container16 {
    padding: 10px;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-radius: var(--dl-radius-radius-radius1);
  }
  .home-text24 {
    text-align: center;
  }
  .home-text28 {
    text-align: center;
  }
  .home-divider {
    margin-top: var(--dl-space-space-doubleunit);
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container17 {
    height: auto;
    flex-wrap: wrap;
    padding-bottom: 0px;
  }
  .home-container18 {
    width: auto;
    height: 418px;
  }
  .home-image11 {
    width: 100%;
    height: auto;
  }
  .home-divider1 {
    margin-top: var(--dl-space-space-doubleunit);
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container19 {
    height: auto;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .home-container20 {
    width: 100%;
    height: auto;
    padding-bottom: 0px;
  }
  .home-image12 {
    width: 100%;
  }
  .home-divider2 {
    margin-top: var(--dl-space-space-doubleunit);
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container21 {
    flex-wrap: wrap;
  }
  .home-container22 {
    width: 100%;
    height: auto;
  }
  .home-text42 {
    top: 20px;
    margin: auto;
  }
  .home-text43 {
    top: 20px;
    left: 77px;
    bottom: 6px;
    position: absolute;
    line-height: 1;
  }
  .home-li11 {
    position: 0px;
  }
  .home-text44 {
    top: 0px;
    left: 77px;
    bottom: 0px;
    margin: auto;
    position: absolute;
  }
  .home-image13 {
    width: 100%;
  }
  .home-divider3 {
    margin-top: var(--dl-space-space-doubleunit);
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container23 {
    flex-wrap: wrap;
  }
  .home-container24 {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
  }
  .home-image14 {
    width: 100%;
  }
  .home-link2 {
    border-radius: var(--dl-radius-radius-radius40);
  }
}
@media(max-width: 479px) {
  .home-card {
    padding: var(--dl-space-space-unit);
  }
  .home-container02 {
    align-items: center;
    flex-direction: column;
  }
  .home-container03 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-features {
    width: 100%;
  }
  .home-text04 {
    text-align: center;
  }
  .home-text12 {
    width: 100%;
    text-align: center;
  }
  .home-text14 {
    color: #000000;
    text-align: justify;
    font-family: Source Sans Pro;
  }
  .home-contaier {
    position: relative;
    padding-top: 0px;
  }
  .home-text16 {
    width: 100%;
  }
  .home-container13 {
    flex-wrap: wrap;
  }
  .home-container14 {
    width: 400px;
    padding: 12px;
    position: relative;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: var(--dl-radius-radius-radius1);
    margin-bottom: 20px;
  }
  .home-text18 {
    color: #000000;
  }
  .home-text19 {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .home-container15 {
    width: 400px;
    padding: 12px;
    position: relative;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: var(--dl-radius-radius-radius1);
    margin-bottom: 20px;
  }
  .home-text21 {
    color: #000000;
    width: 100%;
  }
  .home-text22 {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .home-container16 {
    width: 400px;
    padding: 12px;
    position: relative;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: var(--dl-radius-radius-radius1);
    margin-bottom: 20px;
  }
  .home-text24 {
    color: #000000;
  }
  .home-text28 {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .home-container17 {
    height: 798px;
    flex-wrap: wrap;
    align-self: flex-start;
    padding-bottom: 0px;
  }
  .home-container18 {
    width: 100%;
    height: 413px;
  }
  .home-text30 {
    line-height: 1;
  }
  .home-ul {
    width: 100%;
    margin-top: 0px;
  }
  .home-text31 {
    font-size: 2rem;
    line-height: 1;
  }
  .home-text32 {
    line-height: 1;
  }
  .home-text33 {
    line-height: 1;
  }
  .home-text34 {
    top: 0px;
    bottom: 0px;
    margin: auto;
    font-size: 2rem;
    line-height: 1;
  }
  .home-image11 {
    width: 100%;
    height: auto;
  }
  .home-container19 {
    height: 974px;
    flex-wrap: wrap;
  }
  .home-container20 {
    width: 100%;
    height: 465px;
  }
  .home-text35 {
    line-height: 1;
  }
  .home-text36 {
    top: 0px;
    bottom: 0px;
    margin: auto;
    font-size: 1.75rem;
    line-height: 1;
  }
  .home-text37 {
    top: 0px;
    bottom: 0px;
    margin: auto;
    font-size: 2rem;
    line-height: 1;
  }
  .home-text38 {
    top: 0px;
    bottom: 0px;
    margin: auto;
    font-size: 2rem;
    line-height: 1;
  }
  .home-text39 {
    top: 0px;
    bottom: 0px;
    margin: auto;
    font-size: 2rem;
    line-height: 1;
  }
  .home-image12 {
    width: 100%;
    height: auto;
  }
  .home-container21 {
    height: auto;
    flex-wrap: wrap;
  }
  .home-container22 {
    width: 100%;
    height: 411px;
  }
  .home-text40 {
    line-height: 1;
  }
  .home-ul2 {
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .home-text41 {
    font-size: 2rem;
    line-height: 1;
  }
  .home-li09 {
    line-height: 1;
  }
  .home-text42 {
    top: 0px;
    bottom: 0px;
    margin: auto;
  }
  .home-text43 {
    top: 0px;
    right: 21px;
    bottom: 0px;
    margin: auto;
    position: absolute;
    font-size: 1.85rem;
    line-height: 1;
  }
  .home-text44 {
    top: 0px;
    bottom: 0px;
    margin: auto;
    line-height: 1;
  }
  .home-image13 {
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .home-container23 {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .home-container24 {
    width: 100%;
    height: 398px;
  }
  .home-text45 {
    line-height: 1;
  }
  .home-text46 {
    line-height: 1;
  }
  .home-li13 {
    line-height: 1;
  }
  .home-text48 {
    line-height: 1;
  }
  .home-text49 {
    line-height: 1;
  }
  .home-image14 {
    width: 100%;
    height: 407px;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}
