<div>
  <link href="./feature-card.css" rel="stylesheet" />
  <div class="feature-card-container">
    <img
      alt="image"
      src="0c545438-dccd-4f3c-8e7c-92d8d4113c1d"
      class="feature-card-image"
    />
    <h5 class="feature-card-text headingThree">
      <span>SOFTWARE DEVELOPMENT</span>
    </h5>
    <span class="feature-card-text1">
      <span>
        Our development process follows Agile method of development due to which
        every important aspect is covered during the development
      </span>
    </span>
  </div>
</div>
