.feature-card-container {
  flex: 0 0 auto;
  width: 25%;
  margin: 5px;
  display: flex;
  padding: 10px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: #f12525;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
}
.feature-card-image {
  height: 60px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.feature-card-text {
  color: var(--dl-color-secondary-600);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.feature-card-text1 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card-root-class-name {
  width: 22%;
  height: auto;
}
.feature-card-root-class-name1 {
  width: 22%;
  height: auto;
}
.feature-card-root-class-name2 {
  width: 22%;
}
.feature-card-root-class-name3 {
  width: 22%;
  height: auto;
}
@media(max-width: 767px) {
  .feature-card-container {
    width: 50%;
  }
}
@media(max-width: 479px) {
  .feature-card-container {
    width: 100%;
  }
}
