<div>
  <link href="./header-full.css" rel="stylesheet" />
  <div class="header-full-header">
    <nav class="header-full-nav">
      <div class="header-full-container">
        <img
          alt="image"
          src="public/playground_assets/cyberlab%20logo%20%5B1%5D-200h.png"
          class="header-full-image"
        />
        <div class="header-full-menu">
          <a href="index.html" class="header-full-navlink large">Home</a>
          <a
            href="https://www.cyberlabindia.com"
            target="_blank"
            rel="noreferrer noopener"
            class="header-full-link large"
          >
            web
          </a>
        </div>
        <div class="header-full-container1">
          <div class="header-full-container2">
            <a
              href="mailto:contact@cyberlabindia.com?subject=Hello CyberLab, i'm Contacting through your server-less hosting platform"
              class="header-full-link1"
            >
              <div class="primary-pink-button-container">
                <button class="primary-pink-button-button button buttonSmall">
                  <span>Let's Talk</span>
                </button>
              </div>
            </a>
          </div>
          <svg viewBox="0 0 1024 1024" class="header-full-icon">
            <path
              d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
            ></path>
          </svg>
        </div>
      </div>
    </nav>
  </div>
</div>
